include ../icon-inline/template

mixin wellBlock(data)
	.well-block&attributes(attributes)
		._title
			!= data.text
		if data.repair == true
			a._repair(href="#") Восстановить
		if data.close == true
			a._close(href="#")
				+svg('close')


mixin wellBlockProfile(data)
	.well-block.-profile&attributes(attributes)
		._avatar
			+webp('images/avatar.png')
			._avatar-load
				a(href="#") Загрузить фотографию
		._wrap
			._name.title-h3 Станиславская<br> елена борисовна
			._params
				._params-item +7-952-364-78-50
				._params-item elena_s@gmail.com
			._bottom
				a._edit(href="#") Изменить профиль

mixin wellBlockProfileYur(data)
	.well-block.-profile&attributes(attributes)
		._avatar
			+webp('images/avatar.png')
			._avatar-load
				a(href="#") Загрузить фотографию
		._wrap
			._name.title-h3 Станиславская<br> елена борисовна
			._params
				._params-item +7-952-364-78-50
				._params-item elena_s@gmail.com
				._params-more
					a._edit.js-more-text(href="#") Больше сведений
				._params-other.js-wrap-text.d-none
					._params-item +7-952-364-78-50
					._params-item elena_s@gmail.com
			._bottom
				a._edit(href="#") Изменить профиль

mixin wellBlockOrders(data)
	.well-block.-orders&attributes(attributes)
		._title.title-h3 Заказы
		._list
			._row.row
				._number.col-4.col-xs-12 № 356545896
				._status.col-8.col-xs-12
					.bullet
						.bullet__icon
						.bullet__text Все
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-2
						.bullet__icon
						.bullet__text Ожидают проверки
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-3
						.bullet__icon
						.bullet__text Ожидают оплаты
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-4
						.bullet__icon
						.bullet__text Частично оплачен
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-5
						.bullet__icon
						.bullet__text Доставка
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-6
						.bullet__icon
						.bullet__text Завершен
		._bottom
			a._edit(href="#") Подробнее

mixin wellBlockOrders2(data)
	.well-block.-orders&attributes(attributes)
		._title.title-h3 Заказы
		._list
			._row.row
				._number.col-4.col-xs-12 № 356545896
				._status.col-8.col-xs-12
					.bullet
						.bullet__icon
						.bullet__text Все
			._row.row
				._number.col-4.col-xs-12 № 568452136
				._status.col-8.col-xs-12
					.bullet.status-2
						.bullet__icon
						.bullet__text Ожидают проверки
		._bottom
			a._edit(href="#") Подробнее

mixin wellBlockDiscount(data)
	.well-block.-discount&attributes(attributes)
		._title.title-h3 бонусы и скидки
		._row.row
			._row-item.col-auto
				._row-label Персональная скидка:
				._row-discount.discount-ticket 10%
			._row-item.col-auto
				._row-label Особая скидка:
				._row-discount.discount-ticket 15%
		._bottom
			a._edit(href="#") Подробнее

mixin wellBlockDiscount2(data)
	.well-block.-discount-2&attributes(attributes)
		._row.row
			._row-item.col-auto
				._row-label Персональная скидка:
				._row-discount.-blue 10%

mixin wellBlockSum(data)
	.well-block.-discount-2&attributes(attributes) 
		._row.row
			._row-item.col-auto
				._row-label Вы заказали на сумму
				._row-discount 564 532,00 <span>руб.</span>

mixin wellBlockPay(data)
	.well-block.-pay&attributes(attributes)
		._title.title-h3 счета на оплату
		._text Здесь можно скачать и оплатить счета на оплату
		._bottom
			a._edit(href="#") Подробнее

mixin wellBlockDoc(data)
	.well-block.-doc&attributes(attributes)
		+iconInline({
			icon: 'file',
			text: '<a href="#">Скачать</a> договор на оказание услуг'
		}).icon-inline--lg.icon-inline--white._item

mixin wellBlockOrderInfo(data)
	.well-block.-order-info&attributes(attributes)
		._row.row.row--middle
			._number.col-3!= data.number
			._date.col-3!= data.date
			._price.col-3!= data.price
			._status.col-3
				.bullet(class=data.statusClass)
					.bullet__icon
					.bullet__text!= data.status
					if data.status == 'ожидает оплаты' 
						a.bullet__print(href="#")
							+svg('price-label')
			